*{
    margin: 0;
    padding: 0;
}

body{
    color:white;
    background-color: #394045;
}
h2{
    color:white;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:700px;
}

input{
    padding:5px;
    margin:5px;
    border-radius: 10px;
}

button{
    padding:5px;
    margin:5px;
    border-radius: 10px;
}

li{
 display: flex;
 justify-content: space-between;
 padding: 5px;
 margin:5px;
 border-radius: 10px;
 background-color: black;
}